@font-face {
    font-family: 'Product Sans';
    src: url("../fonts/ProductSans-Black.ttf") format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Product Sans Regular';
    src: url("../fonts/ProductSans-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Product Sans Medium';
    src: url("../fonts/ProductSans-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}