/* Custom styles */
.ecopath-card {
    will-change: flex;
}
.card-content {
    will-change: transform;
}
.heading, .description {
    will-change: opacity, max-width, max-height;
}

/* Hero Section Styles */
.hero-slide {
    opacity: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.text-shadow {
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}
.hero-dot {
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color 0.3s ease;
}
.hero-dot.active {
    background-color: rgba(255, 255, 255, 1);
}
.hero-nav-item-slot {
    display: inline-block;
}
.hero-nav-group {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    gap: 1.5rem; /* 24px */
    opacity: 0;
}
