/* Base Styles & Resets */
html {
    font-size: clamp(14px, 1vw + 0.5rem, 18px);
}

body {
    max-width: 1920px;
    margin: auto !important;
}

@font-face {
    font-family: 'Product Sans';
    src: url('fonts/ProductSans-Black.ttf') format('truetype');
    font-weight: 900; /* Black */
    font-style: normal;
}

@font-face {
    font-family: 'Product Sans Regular';
    src: url('../fonts/ProductSans-Regular.ttf') format('truetype');
    font-weight: 900; /* Black */
    font-style: normal;
}

/* Basic CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar underline effect */
.desktop-nav li {
    position: relative;
}

.nav-link {
    position: relative;
    padding: 0.5rem 0.75rem; /* Equivalent to py-2 px-3 */
    transition: color 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -8px; /* Adjusts space between text and underline */
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    width: 120%; /* Makes the underline wider than the text */
    height: 2px;
    background-color: #276B2B; /* custom-green */
    transition: transform 0.3s ease-out;
}

/* Show underline on hover or when the item is active */
.desktop-nav li:hover .nav-link::after,
.desktop-nav li.active .nav-link::after {
    transform: translateX(-50%) scaleX(1);
}

