/* Base Styles & Resets */
html {
    font-size: clamp(14px, 1vw + 0.5rem, 16px);
    scroll-behavior: smooth;
    overflow-x: hidden; /* Safety net against leaking */
}

body {
    max-width: 1920px;
    margin: 0 auto !important;
    overflow-x: hidden; /* Safety net against leaking */
}


/* Reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Desktop Navigation */
.desktop-nav li {
    position: relative;
}

.nav-link {
    position: relative;
    padding: 0.5rem 0; /* Clean vertical padding */
    transition: color 0.3s ease;
}

/* Underline Animation */
/* LINE COMES FROM LEFT (AND IS WIDER) */
.nav-link::after {
    content: '';
    position: absolute;
    bottom: -4px;
    
    /* Center the 120% line by pulling it back 10% */
    left: -20%;
    
    /* Width is 120% of the text */
    width: 140%;
    height: 2px;
    background-color: #17411A;
    
    /* Start hidden (scale 0) */
    transform: scaleX(0);
    
    /* Animate from the LEFT side */
    transform-origin: left;
    
    transition: transform 0.3s ease-out;
}

/* Hover Effect */
.nav-link:not(.bg-custom-green):hover::after,
.desktop-nav li.active .nav-link:not(.bg-custom-green)::after {
    /* Grow to full width */
    transform: scaleX(1);
}

